---
import Layout from '../../layouts/Layout.astro';
import ForgotPasswordForm from '../../components/auth/ForgotPasswordForm.jsx';
---

<Layout title="忘记密码">
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
      <ForgotPasswordForm client:load />
    </div>
  </div>
</Layout>