---
import Layout from '../../layouts/Layout.astro';
import UpdatePasswordForm from '../../components/auth/UpdatePasswordForm.jsx';
---

<Layout title="更新密码">
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
      <UpdatePasswordForm client:load />
    </div>
  </div>
</Layout>